In [19]:
import pandas as pd

## -- import data

In [20]:
df = pd.read_excel('Part 3 - Churn.xlsx', sheet_name='Data')

In [21]:
df[:5]

,income,college,overage,house,leftover,handset_price,over_15mins_calls_per_month,average_call_duration,reported_satisfaction,reported_usage_level,...,prob_no_promo,prob_new_phone,prob_discount,prob_minutes,client_value,not_value,target_most_method,target_most_prob,target_value,ev_targeting
0,133772,0,0,639821,6,750,1,6,very_unsat,very_high,...,0.619814,0.624588,0.821665,0.655560,NaN,NaN,NaN,NaN,NaN,NaN
1,24142,1,64,161689,14,175,3,5,very_sat,little,...,0.409122,0.693155,0.413366,0.422249,NaN,NaN,NaN,NaN,NaN,NaN
2,108632,1,56,759434,36,503,3,1,unsat,little,...,0.619483,0.623179,0.778082,0.645494,NaN,NaN,NaN,NaN,NaN,NaN
3,121457,0,182,150447,15,679,18,1,very_unsat,very_little,...,0.136788,0.246251,0.322873,0.187357,NaN,NaN,NaN,NaN,NaN,NaN
4,26729,1,49,296273,62,238,4,2,avg,little,...,0.478369,0.674470,0.493121,0.505534,NaN,NaN,NaN,NaN,NaN,NaN

## 10a

In [22]:
df['client_value'] = df['income'] * 0.0025

## 10b

In [23]:
df['not_value'] = df['prob_no_promo'] * df['client_value']

## 10c

In [24]:
df['target_most_method'] = df[['prob_no_promo','prob_new_phone','prob_discount','prob_minutes']].idxmax(axis=1)

## 10d

In [27]:
df['target_most_prob'] =  df[['prob_no_promo','prob_new_phone','prob_discount','prob_minutes']].max(axis=1)

## 10e

In [30]:
df['target_value'] = df['client_value'] * df['target_most_prob'] - 75

## 10f

In [33]:
df['ev_targeting'] = df['target_value'] - df['not_value']

## 11

In [40]:
df.groupby(['target_most_method'])[['income']].count()

                    income
target_most_method
prob_discount         2769
prob_minutes            43
prob_new_phone        2188

In [43]:
df.loc[lambda x: x['ev_targeting']>0].groupby(['target_most_method'])[['income']].count()

                    income
target_most_method
prob_discount          505
prob_new_phone           3

In [47]:
df.loc[lambda x: x['ev_targeting']>0].groupby(['target_most_method'])[['ev_targeting']].sum().round(2)

                    ev_targeting
target_most_method
prob_discount           13151.28
prob_new_phone             12.62

In [48]:
df.loc[lambda x: x['ev_targeting']>0].groupby(['target_most_method'])[['ev_targeting']].sum()['ev_targeting'].sum()

13163.901087995988